/* Scroll to Top Button */
.scroll-button {
    right: 2rem;
    bottom: 5rem;
    width: 2.5rem;
    position: fixed;
    display: block;
    border-radius: 45%;
    background-color: var(--text);
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0;
    height: 4rem;
    width: 100%;
    background-color: var(--background);
    border-bottom: 0.1em solid var(--primary);
}

.header div {
    display: inherit;
    justify-content: end;
    align-items: center;
    /* height: 100%; */
}

.header #name {
    display: inline-block;
    padding-left: 30px;
    background: var(--linearPrimaryAccent);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header #name:hover {
    cursor: pointer;
}

.header h5:last-child {
    display: inherit;
    height: 100%;
    border-left: 2px solid var(--text); 
    align-items: center;
}

.header a {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-weight: 400;
}

/* .header a:hover {
    animation: colorCycle 1s alternate infinite;
}

@keyframes colorCycle {
    from {
        background: var(--text);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition-delay: 1s;
        transition-timing-function: ease-in;
    }

    to {
        background: var(--linearPrimaryAccent);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
} */

a:link {
    color: var(--text);
}

a:hover {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    background: var(--linearPrimaryAccent);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:active {
    color: var(--text);
}

a:visited {
    color: var(--text);
}


main {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    gap: 1.75rem;
    width: 70%;
}

/* About Me */
.about-container {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.about h2 {
    display: inherit;
    margin-left: 0.2em;
    padding-bottom: 0.2em;
}

.about p {
    line-height: 2em;
}

#picture_me {
    height: 28rem;
    width: auto;
    float: right;
    border: 2px solid var(--text);
    border-radius: 10px;
}

@media (width < 1010px) {
    .about-container {
        flex-direction: column;
    }
    
    .about h2 {
        display: inherit;
        text-align: center;
    }
}


/* Projects */
li {
    line-height: 1.8em;
}

#project {
    font-weight: 700;
    font-size: 1.5rem;
    width: fit-content;
    line-height: 1.5em;
    background: var(--linearPrimarySecondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#project::marker {
    color: var(--primary);
}

#tech {
    color: hsl(240, 61%, 75%);
    list-style-type:disc;
    font-size: 1.2rem;
}

#date {
    list-style-type: none;
    font-style: italic;
    color: hsl(240, 36%, 67%);
    padding-bottom: 0.25rem;
}

ul ul li:not(#tech, #date) {
    list-style-type: none;
    font-size: 1rem;
    border-left: 1px solid var(--primary);
    padding-left: 1rem;
    margin-left: 1rem;
}

ul ul {
    padding-bottom: 0.7rem;
}

/* Extra */
.extra {
    padding-top: 0;
}

.extra ul li {
    font-size: 0.95rem;
}

/* Separators */
#separator {
    border: 1px solid white;
    border-radius: 10px;
}

hr {
    color: var(--primary);
    overflow: hidden;
}

.mt-3 {
    margin-top: 3em;
}

/* Footer */
.footer {
    text-align: center;
}

.footer a {
    text-decoration: none;
}